<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
    <add key="SMTPServerName" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="From" value="raghava.deccansoft@gmail.com"/>
    <add key="EmailId" value="raghava.deccansoft@gmail.com"/>
    <add key="Password" value="dec@123"/>
    <add key="Subject" value="Account Registration"/>
    <add key="CompanyName" value="Deccansoft"/>
    <add key="Registration" value="~/Templates/RegistrationTemplate.txt"/>
    <add key="Admin" value="Admin"/>
  </appSettings>
  <connectionStrings>
    <add name="ShoppingCartDBConnectionString" connectionString="Data Source=SERVER\SERVERDB;Initial Catalog=ShoppingCartDB;User ID=sa;Password=Pentag0n" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>